.footer {
  background-color: $color-dark;
}

.footer-inner {
  @include inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;

  @media (max-width: $tablet-max) {
    padding: 35px 10px;

  }

  @media (max-width: $mobile-max) {
    flex-direction: column;
    // text-align: center;

  }

}

.logo {
  @include logo;

}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-max) {
    display: block;

  }

}

.footer-phone {
  font-size: 28px;
  line-height: 38px;
  color: $color-light;
  text-decoration: none;
  padding-right: 45px;

  @media (max-width: $mobile-max) {
    padding: 0;
      text-align: center;

  }
}

.social {
  display: flex;
  justify-content: space-between;
  list-style: none;

  @media (max-width: $mobile-max) {
    padding-top: 15px;
    justify-content: center;
  }

}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
}
