.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: $color-dark;
  padding: 16px 0;

  @media (max-width: $tablet-max) {
    padding: 0;
  }

  @media (max-width: $mobile-max) {
    padding: 16px 0;
  }
}


.header-inner {
  @include inner;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  @include logo;


}

.menu-item {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  padding: 0 25px;
  margin: 0 5px;

 }
 .item:first-child {
 background-color: $color-red;
 padding: 33px 25px;
 }

.item-text {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $color-light;
}
