.order {
  padding: 130px 0;
  background-color: rgba(51, 51, 51, .1);

  @media (max-width: $tablet-max) {
    padding: 120px 0;
  }

}
.order-inner {
  @include inner;
}


.sub-title {
  @include subtitle;
}

.order-text {
  font-size: 28px;
  line-height: 38px;
  color: $color-dark;
  text-align: center;
  padding: 40px 82px 90px;

  @media (max-width: $tablet-max) {
    padding: 40px 10px 90px;
  }
}

