// Fonts
$font: 'Open Sans', sans-serif;

// colors
$color-red: #FF2D2D;
$color-dark: #333333;
$color-light: #fff;



// indents

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$mobile-max: $tablet - 1;
$tablet-max: $desktop - 1;
